.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;

  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.form-field {
  margin-bottom: 20px;
  width: 100%;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
}

.form-input:focus {
  outline: none;
  border-bottom: 2px solid #007bff;
}

.form-button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #3e8e41;
}

.form-bottom-text {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.form-link {
  color: #3e8e41;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
}
mat-error {
  color: red;
}
