<header>
  <nav>
    <div class="navbar">
      <img src="../../../assets/track.png" alt="COVID-19 Tracker Logo" class="logo">
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/login">LogIn</a></li>
        <li><a routerLink="/signup">SignUp</a></li>
      </ul>
    </div>
  </nav>
</header>

<main>
  <section>
    <h1>Welcome to COVID-19 Tracker</h1>
    <p>Stay up-to-date with the latest information about the COVID-19 pandemic.</p>
    <img src="../../../assets/covid.jpg" alt="COVID-19 Track" class="covid-track-image">

  </section>

  <section class="stats">





  </section>
</main>

<footer>
  <p>&copy; 2023 COVID-19 Tracker. All rights reserved.</p>
</footer>
